@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  color: #212121;
  width: 100vw;
  overflow-x: hidden;
}
* ::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
